*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(185, 181, 181) !important;
}

.bar-navegacao {
    width: 3.6%;
    background-color: #354052;
    overflow: hidden;
    white-space: nowrap;
    height: 100vh !important;
}
.bar-navegacao:hover{
    width: 15%;
}
.bar-navegacao li{
    padding: 10px;
    color: white;
    display: flex;
}
.bar-navegacao li:hover{
    cursor: pointer;
    background-color: #01b400;
    transition: .3s ease-in-out;    
}
.bar-navegacao .far{
    font-size: 15px;
    text-align: center;
    margin-right: 15px;
    width: 35px;
    
}
.bar-navegacao .lista-top{
    margin-top: 30px;
    margin-bottom: 30px;

}
.ativo{
    background-color: #01b400;
}


.geralemote {
    margin: 15px 0px 3px 3px;
}

.geralemote:hover{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list-group-item {
    position: relative;
    /* display: block; */
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    display: flex !important;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* display: inline-block; */
    display: flex !important;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1fe11f !important;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.Tasks{
    margin: 10px;
}

.cabecalho_top{
    width: 100%;
}
#emoteum{
    margin: 15px 0px;
}



.chart {
    border: 3px solid royalblue;
}

.graficoinicial {
    height: 30vh;
    background: white;
    width: 33.3%;
    margin: 10px 10px;
}

.segundografico {
    height: 20vh;
    background: white;
    width: 25%;
    margin: 5px 10px
}

.terceirografico {
    height: 39vh;
    background: white;
    width: 50%;
    margin: 10px 10px;
}

.grafico_um{
    display: flex;
}

.grafico_dois{
    display: flex;
}

.grafico_tres{
    display: flex;
}

.graph-wrapper {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}
  
.graph {
height: 300px;
width: 100%;
max-width: 750px;
padding: 25px;
background-color: #FFF;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#myChart {
    display: block !important;
    width: 573px !important;
    height: 213px !important;
}

.geral-salario{
    display: flex;
    justify-content: space-around;
}

.pontuacao {
    display: flex;
    justify-content: space-around;
    height: 32px;
}

.invoicing {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    /* height: 40px; */
    margin: 5px 15px 0px 15px;
    align-items: center;
}

.botaoum{
    margin: 0px 0px 0px 463px;
}

.botaodois{
    margin: 0px 0px 0px 409px;
}

.botaotres{
    margin: 0px 0px 0px 526px;
}

.botaoquatro{
    margin: 0px 0px 0px 490px;
}

.image-perfil{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;
}

.perfil{
    display: flex!important;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.iniciograf{
    margin: 0px 0px 0px 10px;
}

.box-performace{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.performace {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.performacedois{
    background-color: white;
    margin: 10px 15px 0px 10px;
    width: 50%;
}

.image-mundial{
    width: 65%;
}

.mapa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.geralperformace{
    display: flex;
}

.product{
    display: flex;
    align-items: baseline;
    align-content: center;
}

.botaogeral{
    display: flex;
    justify-content: space-between;
}

.w-75 {
    width: 80%;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin: 0px 10px 0px 10px;
}

.verde{
    background-color: green !important;
    width: 70%;
}

.azul{
    width: 40%;
    background-color: rgb(24, 100, 241);
}

.vermelho{
    width: 30%;
    background-color: red !important;
}

.laranja{
    background-color: orange !important;
    width: 80% !important;
}

.Buness{
    margin: 5px;
}

.numero{
    margin: 0px 10px 0px 0px;
}

.botaogeral{
    margin: 20px 0px 0px 0px;
}

.product {
    margin: 5px 0px -12px 5px;
}

.word{
    margin: 5px 0px 0px 10px;
}

.valores{
    background-color: white;
    width: 32.54%;
    margin: 10px 0px 0px 10px;
    height: 460px;
}

.graficosdois{
    display: flex;
}

.geralporcentagem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.porcentagem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.geraluser{
    background-color: white;
    width: 50%;
    margin: 10px 10px 0px 10px;
}

.atividades{
    display: flex;
}

.atividade {
    margin: 15px 15px 0px 15px;
}

.geralperfil{
    display: flex;
}

.imagemperfil{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.imagecenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botoes{
    width: 95%;
    display: flex;
    margin: 10px;
}

.botoesperfilum{
    width: 50%;
    background: dodgerblue;
    margin: 10px;
    color: white;
}

.botoesperfildois {
    width: 50%;
    background: white;
    box-shadow: 10px;
    margin: 10px;
}

.botaocoloridoum{
    height: 15px;
    width: 15px;
    background-color: orange;
    border-radius: 50px;
    margin: 10px;
}

.botaocoloridodois{
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50px;
    margin: 10px;
}

.botaocoloridotres{
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50px;
    margin: 10px;
}

.geralbotaocolorido{
    display: flex;
    align-items: baseline;
    align-content: center;
}

.sombraum {
    background: white;
    width: 95%;
    height: 44px;
    border: 1px solid #e7e0e0;
    display: flex;
    align-content: center;
    padding: 8px;
    margin: -7px 36px;
}

.horario{
    margin: 10px 36px;
    color: gray;
}

.horariodois{
    margin: 0px 36px;
    color: gray;
}

.today{
    color: gray;
    margin: 2px 12px;
}

.yesterday{
    color: gray;
    margin: 50px 0px 0px 10px;
}

.imagemcomentario {
    width: 14%;
    height: 60px;
    margin: 2px 14px;
}

.geralperfildois{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.estrelas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lapis {
    background-color: green;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    color: white;
    display: flex !important;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.caixa {
    background-color: rgb(102, 0, 128);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    color: white;
    display: flex !important;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.gerallapis{
    display: flex;
}

.produto{
    margin-bottom: auto !important;
}

a {
    text-decoration: none !important;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: gray !important;
}

.cartaogeral{
    display: flex;
    align-items: baseline;
}

.cartao{
    color: purple;
    margin: 0px 15px;
}

.billing{
    margin: 10px 14px;
}

.geralcartao {
    height: 266px;
    border-top: 10px #b9b5b5 solid;
    border-bottom: 130px #b9b5b5 solid;
}

.estrelasdois{
    display: flex;
}

.view{
    color: blue !important;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
}

.boxcenter {
    width: 33.3%;
    height: 210px;
    background: white;
    margin: 10px 10px 0px 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#geralbox{
    display: flex;
}

.botoesbox{
    height: 31px;
    color: white;
    background: #09a1e9;
    border: 1px;
    width: 25%;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chart-wrapper {
    display: inline-block;
    position: relative;
    height: 170px !important;
    width: 66%;
}

.best{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.progress {
    display: flex;
    height: 8px !important;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    width: 80% !important;
}

.geralprogresso{
    width: 95%;
}

.five{
    display: flex;
    justify-content: space-between;
}

.barra {
    background-color: rgb(184, 179, 179);
    width: 90%;
    height: 8px;
    border-radius: 10px;
}

.subbarra{
    background-color: yellow;
    width: 60%;
    height: 8px;
}

.subbarradois{
    background-color: red;
    width: 60%;
    height: 8px;
}

.barratres {
    background-color: rgb(184, 179, 179);
    width: 100%;
    height: 8px;
    border-radius: 10px;
}

.subbarratres{
    background-color: orange;
    width: 60%;
    height: 8px;
}

.subbarraquatro{
    background-color: rgb(27, 109, 202);
    width: 60%;
    height: 8px;
}

.subbarracinco{
    background-color: rgb(74, 192, 28);
    width: 60%;
    height: 8px;
}

.subbarraseis{
    background-color: rgb(28, 132, 192);
    width: 60%;
    height: 8px;
}

.subbarrasete{
    background-color: rgb(192, 140, 28);
    width: 60%;
    height: 8px;
}

.subbarraoito{
    background-color: rgb(28, 44, 192);
    width: 60%;
    height: 8px;
}

.barradeprogresso{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imggrafico{
    height: 204px;
    width: 100%;
}

.geralradio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px 5px;
}

.radio {
    display: flex;
    align-items: baseline;
    margin: 0px 45px;
}

#hr{
    margin: 1px 0 !important;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

.new {
    margin: 0px 10px;
    width: 30%;
}

.geralprogressodois{
    display: flex;
    width: 100%;
}

.geraltodos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.geraldinherio{
    display: flex;
    align-items: baseline;
}

#dinheiro{
    margin: 0 10px;
}

.geraldolar{
    display: flex;
}

.dolar{
    margin: 0 50px;
}

#vermelho{
    color: red;
}

.graficoquatro {
    width: 290px;
    height: 200px;
    margin: 10px;
}

.boxgrafico {
    background-color: white;
    width: 99%;
    margin: 5px;
}

.geralnumber{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.graficosimg{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.primeirovalor {
    margin: 0 33px;
}

.segundovalor {
    margin: 0px 34px 0px 0px;
}

.terceirovalor {
    margin: 0px 154px 0px 0px;
}

.p{
    margin-bottom: 0px !important;
}

.progressosdash{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.geralrate {
    width: 23%;
    margin: 10px;
}

.over{
    margin: 0 5px;
}

.geralembaixo{
    display: flex;
    flex-direction: row;
}

.geraldireito{
    background-color: white;
    width: 99%;
    margin: 5px;
}

.geralopen{
    width: 48%;
}

.geralboxdois {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 7px 7px 0px 7px;
}

.pdf {
    display: flex;
    align-items: center;
}

.imgpdf{
    margin: 0px 0px 0px 50px;
    color: red;
}

.imgdoc{
    margin: 0px 0px 0px 50px;
}

.mb{
    margin: 0px 110px 0px 0px;
}

.geralselect{
    display: flex;
    justify-content: space-between;
}

.geralrevenue{
    background-color: white;
    margin: 10px;
    width: 65%;
}

.gerallado {
    background-color: white;
    margin: 10px;
    width: 96%;
    height: 225px;
}

.imggeral{
    display: flex;
    justify-content: center;
}

.imgdois{
    width: 67%;
}

.january {
    display: flex;
    /* margin: 15px; */
    padding: 12px;
    justify-content: space-between;
}

.geraltop{
    display: flex;
}

.geralp {
    width: 60%;
    margin: 10px;
}

.rat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.barraquatro {
    background-color: rgb(184, 179, 179);
    width: 69%;
    height: 8px;
    border-radius: 10px;
}

.geralladodois {
    background-color: white;
    margin: 10px;
    width: 96%;
    height: 247px;
}

.CTM{
    margin: 10px;
}

.C3{
    display: flex;
    justify-content: space-between;
}

.T5{
    display: flex;
    justify-content: space-between;
}

.M2{
    display: flex;
    justify-content: space-between;
}

.geralt{
    width: 93%;
    margin: 10px;
}

.barrart{
    background-color: rgb(184, 179, 179);
    width: 54%;
    height: 8px;
    border-radius: 10px;
}

.iconsum{
    background: white;
    width: 26%;
    margin: 10px;
}

.iconsgeral{
    display: flex;
    align-items: center;
}

.iconegrafico {
    background: orange;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
}

.iconegraficodois {
    background: rgb(163, 33, 175);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
}

.numeroex{
    display: flex;
    align-items: center;
}

.geralnumerox{
    margin: 15px;
}

.boxicons{
    display: flex;
    margin: 6px;
}

.red{
    color: red;
}

.geralultimo {
    background: white;
    width: 50%;
    height: 275px;
    margin: 5px 15px;
}

.MAWM{
    display: flex;
    justify-content: space-around;
}

.recent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px;
    padding: 3px 13px;
}

.boxultimo{
    display: flex;
}
/* PAGINA 5 */

.preco,.statusProjects{
    margin: 10px;
}
.preco1, .preco2, .preco3, .preco4{
    width: 25%;
    color: white;
    margin: 10px;
    padding: 5px;
}
.preco3{
background-color: orangered;
}
.statusProjects{
    padding: 5px;
}
.subtitleP p {
    margin-left: 10px;
}
.subtitleP{
    margin-top: 16px;
}
.iconP{
    margin-right:13px;
}
.statusProjects,.parametros{
    margin: 15px;
}
.parametro1{
    width: 16.66%;
    
}
.check{
    margin-top: 40px;
}
.Pcheck{
    margin-bottom: auto;
}
.custumBtn1{
    color: yellow;
}
.movimentacao{
    margin-top: 40px;
}
.movimentacao2{
    margin-top: 39px;
}

/* sete pagina */

.boxum {
    background-color: white;
    margin: 10px;
    width: 33.3%;
    height: 175px;
}

.boxdois {
    background-color: white;
    margin: 10px;
    width: 33.3%;
    height: 370px;
}
.nomeum{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.iconeum{
    display: flex;
    align-items: center;
}

.india{
    display: flex;
    align-items: baseline;
}

.india2{
    margin: 5px;
}

.btnm {
    width: 45%;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    background: white;
    color: green;
    justify-content: center;
}

.btnn {
    width: 45%;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    background: #4ea0e7;
    color: white;
    justify-content: center;
}

.botoesum {
    display: flex;
    justify-content: center;
}

.geralbox1{
    display: flex;
}

.computador1 {
    width: 96%;
    margin: 10px 0px;
    height: 260px;
}

.boxdois {
    background-color: white;
    margin: 10px;
    width: 31.3%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.boximg{
    display: flex;
    width: 95%;
    justify-content: center;
}

.imgpessoa1 {
    width: 60px;
    height: 60px;
    border: 50px;
    background: white;
    border-radius: 50px;
}

.geralimgpessoa {
    width: 91%;
    display: flex;
    justify-content: flex-start;
    margin-top: -40px;
}

.geralma {
    display: flex;
    width: 91%;
    margin-top: -22px;
    justify-content: space-between;
    align-items: flex-start;
}

.ma{
    margin: 0px 64px;
}

.hrdesgracado{
    width: 100%;
}

.botoesdois {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
}

.geralpessoa2{
    width: 91%;
    display: flex;
    justify-content: flex-start;
    margin-top: 0px;
}